<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @albumseight.title %>
</p>

<%= link_to 'Edit', edit_albumseight_path(@albumseight) %> |
<%= link_to 'Back', albumseights_path %>
