<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@albumfour.user.user_name%></strong> Posted a New Photo in Bob, Pam & Family Album</p> 
    <p><h3><%= @albumfour.title %></h3></p>
    
  </body>
</html>