<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@sell.user.user_name%></strong> Posted an Item in the Giveaway</p> 
    <p><h3><%= @sell.title %></h3></p>
    
    <p> "<%= @sell.description %>"</p>
  </body>
</html>