<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@comment.user.user_name%></strong> Wrote a comment in the Forum</p> 
    <p><h3><%= @comment.comment_entry %></h3></p>
    
  </body>
</html>