<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@albumtwo.user.user_name%></strong> Posted a New Photo in Grandma & Paw Paw's Album</p> 
    <p><h3><%= @albumtwo.title %></h3></p>
    
  </body>
</html>