


<div class="background container">

<div class="frame">
<h1 class="weekly"> Drummond Family Photos! <%= image_tag "camera.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "camera" %></h1>
</div>

    <%= link_to 'Add a New Album', new_whip_path, class:"btn btn-primary" %>
</div>




