


<div class="background container">
<h1 class="weekly"> AGCC Car of the Week!</h1>

<form class="shout" action="car">
    <ol>
      <li>
      <label class="shoutout"> Owner: Maro Kang </label>
      </li>


      <%= image_tag "bruce.jpeg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive bruce" %>
    </ol>

    <h1 class="space"> 2013 2.0t R-Spec  </h1>

    <%= link_to 'Enter For a Chance to be' <br /> 'AGCC Car of the Week!', new_whip_path, class:"btn btn-primary enter" %>
</form>




