<div class="contact_us" align="center">
<div class="dna">
  <h3>Genealogy</h3>
  <h5> The History of the Drummond Family </h5>
</div>
<div class="famtree"> 
<%= image_tag "famtree.png", alt: "Atlanta Atlanta Genesis Coupe picture", class: "familychart" %>
</div>

<div class="family col-md-4">
<a href="fam1">
	<div class="famtitle">Robert R Drummond Sr</div>
	<div class="famyear">1907-1971</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam2">
	<div class="famtitle">Robert R Drummond Jr</div>
	<div class="famyear">1930-Living</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam3">
	<div class="famtitle">Louise E Shelby</div>
	<div class="famyear">1911-1996</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam4">
	<div class="famtitle">Noah Levi Whiter</div>
	<div class="famyear">1906-1977</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam5">
	<div class="famtitle">Hazel Margaret White</div>
	<div class="famyear">1931-Living</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam6">
	<div class="famtitle">Madie Avis Welch</div>
	<div class="famyear">1913-2003</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam7">
	<div class="famtitle">Charles C Drummond</div>
	<div class="famyear">1884-1956</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam8">
	<div class="famtitle">Elizabeth Lola Francis</div>
	<div class="famyear">1890-1968</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam9">
	<div class="famtitle">Paul Shelby</div>
	<div class="famyear">1883-1960</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam10">
	<div class="famtitle">Mary Louise Wilson</div>
	<div class="famyear">1884-1970</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam11">
	<div class="famtitle">John White</div>
	<div class="famyear">1867-1941</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam12">
	<div class="famtitle">Martha Etline Lambeth</div>
	<div class="famyear">1872-1941</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam13">
	<div class="famtitle">Robert Cleveland Welch</div>
	<div class="famyear">1885-1962</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam14">
	<div class="famtitle">Fannie Lou Joiner</div>
	<div class="famyear">1893-1977</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam15">
	<div class="famtitle">Lewis J Drummond</div>
	<div class="famyear">1837-1916</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam16">
	<div class="famtitle">Anna Mariah Everson</div>
	<div class="famyear">1836-1925</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam17">
	<div class="famtitle">William Ashburn Shelby</div>
	<div class="famyear">1824-1904</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam18">
	<div class="famtitle">Elizabeth O White</div>
	<div class="famyear">1835-1879</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam19">
	<div class="famtitle">John Taylor Wilson</div>
	<div class="famyear">1818-1866</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam20">
	<div class="famtitle">Louisa Dickerson</div>
	<div class="famyear">1821-1899</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam21">
	<div class="famtitle">John D White Sr</div>
	<div class="famyear">1768-1850</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam22">
	<div class="famtitle">Lucinda Godwin</div>
	<div class="famyear">1822-1900</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam23">
	<div class="famtitle">William L Lambeth</div>
	<div class="famyear">1825-1910</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam24">
	<div class="famtitle">Martha J Collinsworth</div>
	<div class="famyear">1831-1910</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam25">
	<div class="famtitle">William B Welch</div>
	<div class="famyear">1832-1881</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam26">
	<div class="famtitle">Mary "Elizabeth Moye</div>
	<div class="famyear">1834-1917</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam27">
	<div class="famtitle">Thomas J Joiner</div>
	<div class="famyear">1834-1917</div>	
</a>
</div>

<div class="family col-md-4">
<a href="fam28">
	<div class="famtitle">Frances Leona Daniel</div>
	<div class="famyear">1834-1917</div>	
</a>
</div>







</div>