<div class="wrapper">

	<h3 class="contact"> Contact Us: </h3>
	<p> We want to know if theres anything you think we need to improve on! </p>

		<form action="">
		<ol>
			<li>
				<label class="personal"> Your Name: </label>
				<input type ="text" placeholder="John Doe" required>
			</li>

			<li>
			<label class="personal"> Your Email: </label>
			<input type="email" placeholder="example@gmail.com" required>
			</li>

			<li>
			<label class="personal"> Your Phone #: </label>
			<input type="tel" placeholder="678-111-1111">
			</li>

			<li>
			<label> Preferred Method of Contact: </label>
			<select> 
				<option>Email Me! </option>
				<option>Call Me! </option>
			</select>
			</li>

			<li>
			<label class="comments"> Questions and Comments: </label>
			<textarea Placeholder="Let Us Know Whatever!"></textarea>
			</li>

			<li>
			<input class="submit" type="submit" value="Submit">
			</li>
		</ol>
		</form>
	</div>

	




<section class="connected">
	<h3> Get Connected with the Group! </h3>

	<a href="https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" target="_blank" title="Join Our Facebook Group!"><img src="images/facebook.png"></a>

	<a href="https://www.instagram.com/atlanta.genesis.coupe.club/" target="blank" title="Join Our Instagram Group!"><img src="images/instagram.png"></a>
</section>
