<article>
			<header class="event">
				<h2> Caffeine and Octane </h2>
				<h3 class="date"> When: Febuary 7th, 2016 </h3>
				<h4 class="address"> Where: 4400 Ashford Dunwoody Rd. Atlanta GA 30346  </h4>
			</header>


			<%= image_tag "photo.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "postimg img-responsive" %>


			<p class="about">Caffeine and Octane is a nationally recognized all makes, all models car show that regularly attracts over 1000 muscle, classic, high performance and exotic cars. For almost ten years, Caffeine & Octane has been the #1 choice for car enthusiasts who want to proudly display their amazing vehicles. You will see a new mix of cars every single month and likely something with an engine and wheels that you have never seen before. The show is centrally located at Perimeter Mall just off of I-285 and easily reachable from all points in metro Atlanta. Caffeine & Octane is a family friendly event and free to attend for all from 8:00am – 11:00am on the first Sunday of every month, 4400 Ashford Dunwoody Rd. Atlanta GA 30346. </p>

	</article>

<article>
			<header class="event">
				<h2> Varsity Meet </h2>
				<h3 class="date"> When: Febuary 23rd, 2016 </h3>
				<h4 class="address"> Where: 61 North Avenue NW, Atlanta, GA </h4>
			</header>


			<%= image_tag "varsity.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "postimg img-responsive" %>


			<p class="about">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. </p>

	</article>

<div class="container">
<div class="back">
<section class="connectpartout">
	<h3> Get Connected with the Group! </h3>

	<a href="https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" target="_blank" title="Join Our Facebook Group!"><img src="images/facebook.png"></a>

	<a href="https://www.instagram.com/atlanta.genesis.coupe.club/" target="blank" title="Join Our Instagram Group!"><img src="images/instagram.png"></a>
</section>

</div>
</div>

