<div id="wrapper_home">


<div class="fam">

<div id="myCarousel" class="carousel carousel-fade slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
            
            </div>
          </div>
        </div>
        <div class="item">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              
            </div>
          </div>
        </div>
        <div class="item">
          <!-- Image added via CSS -->
          <div class="container">
            <div class="carousel-caption">
              <h1></h1>
              
            </div>
          </div>
        </div>
        
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

	
</div>

<div class="container">
<div class="back">

<div class="intro">
<div class="title_home"><strong>Welcome to the Bob and Hazel Drummond Family Web Page. It is our hope that this private forum will give our family the opportunity to share photos and thoughts that we might not otherwise post to Facebook. You will be able to add, like and comment on posts.</strong></div>
<div class="line"></div>
<br>
<br>
The first tab will take you to the Forum, where you can share whatever is on your mind (keep it clean :) ).
<br>
<br>
The second tab is for Events that you would like to share.
<br>
<br>
Third is for posting photos. Each branch of the family has their own album to post in. We all have access to each album and we can all comment and like photos in each album.
<br>
<br>
Fourth is a Giveaway section for anything that you happen to no longer want (no children please). You can post a photo of it and request that it be picked up or that you will deliver it, etc. When it has been taken, you can delete the item.
<br>
<br>
Fifth is the Genealogy section. It is a simple way to show the research that PawPaw began years ago and that is now on Ancestry.com with additional ancestors. We are all very lucky to have been given the honor to share in the lives of Paw Paw and Grandma.
<br>
<br>
<div class="line"></div>
<br>
Special thanks to Alex for giving this gift to me for Mother’s Day, 2016. He has worked very hard on setting it up and I am especially amazed at the way he set up the Genealogy page to be able to click on the name and it takes you to their profile page. Wow.

	
<br>
<br>

<div class="hopes">We hope this is something everyone will enjoy!</div>
</div>

</div>









</div>
</div>

<script type="text/javascript">
	

	$('.carousel').carousel({
  interval: 1000 * 5
});
</script>

