<div id="wrapper_home">



	<%= image_tag "agcc_group.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "container img-responsive genesis" %>
<div class="container">
<div class="back">

<div class="intro">
	<p> The Atlanta Genesis Coupe Club website was Created by a fellow Genesis Coupe owner in the hopes to provide discounted parts for all Atlanta Genesis Coupe Owners. Our hopes are that we will get enough traffic through this site to convinse Genesis Coupe parts vendors to provide advertizing on our site. In exchange a discount will be provided for anyone who goes through our page to the vendor websites. NO ONE will profit from this execpt for our users. </p>
	<br />

	<br />

	<h4> <strong>How can you help?</strong> </h4>

	<p> SPREAD THE WORD! </p>

	
</div>

</div>









</div>
</div>

