<div id="wrapper_home">


<div class="fam">
	<%= image_tag "drummond.jpg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "container img-responsive genesis" %>
</div>

<div class="container">
<div class="back">

<div class="intro">


	
</div>

</div>









</div>
</div>

