
<div class="background container">
<h1 class="weekly"> AGCC Car of the Week!</h1>

<form class="shout" action="car">
		<ol>
			<li>
			<label class="shoutout"> Owner: Maro Kang </label>
			</li>


			<%= image_tag "bruce.jpeg", alt: "Atlanta Atlanta Genesis Coupe picture", class: "img-responsive bruce" %>
		</ol>

		<h1 class="space"> 2013 2.0t R-Spec  </h1>
</form>

<div class="top_whip container">
<div class="back">
<div class="whip">

	<h3 class="title"> The Whip </h3>
	<p class="sub"> Enter for a Chance to be AGCC's Car of the Week! </p>

		<form action="">
		<ol>
			<li>
				<label class="personal"> Your Name: </label>
				<input type ="text" placeholder="John Doe" required>
			</li>

			<li>
			<label class="personal"> Your Email: </label>
			<input type="email" placeholder="example@gmail.com" required>
			</li>

			<li>
			<label> 2.0t or 3.8: </label>
			<select> 
				<option>2.0t </option>
				<option>3.8 </option>
			</select>
			</li>

			<li>
			<label> Year: </label>
			<select> 
			    <option>2010 </option>
				<option>2011 </option>
				<option>2012 </option>
				<option>2013 </option>
				<option>2014 </option>
				<option>2015 </option>
				<option>2016 </option>
				
			</select>
			</li>
		</ol>
		
			<form action="upload.php" method="post" enctype="multipart/form-data" class="upload">
    <label>Upload your Picture Here:</label>
    <input type="file" name="fileToUpload" id="fileToUpload">
			
			<input class="submit" type="submit" value="Submit">
			
	
		</form>
</form>
	</div>



</div>
</div>
</div>

<br>
<br>
<br>
<br>

<div class="container">
<div class="back">
<section class="connectpartout">
	<h3> Get Connected with the Group! </h3>

	<a href="https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" target="_blank" title="Join Our Facebook Group!"><img src="images/facebook.png"></a>

	<a href="https://www.instagram.com/atlanta.genesis.coupe.club/" target="blank" title="Join Our Instagram Group!"><img src="images/instagram.png"></a>
</section>

</div>
</div>
