	


	<div class="vids">
<div class="videowrapper">
		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/ZbmmST_1dRU" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/ro7inaUBgjU" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube img" width="560" height="315" src="https://www.youtube.com/embed/-JOY8U9nX-Y" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/7ZaGryMSdpA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/CAuKg-OR5G8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/TEAYmJuDbKs" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/HpJ9Ydy2N4I" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/MxjQ7t07KTQ" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/lonLkGJscgA" frameborder="0" allowfullscreen></iframe>
</div>
<div class="videowrapper">

		<iframe class="youtube" width="560" height="315" src="https://www.youtube.com/embed/brgZo1L6IsY" frameborder="0" allowfullscreen></iframe>
</div>




	
	</div>

<section class="connect">
	<h3> Get Connected with the Group! </h3>

	<a href="https://www.facebook.com/groups/AtlantaGenesisCoupeClub/" target="_blank" title="Join Our Facebook Group!"><img src="images/facebook.png"></a>

	<a href="https://www.instagram.com/atlanta.genesis.coupe.club/" target="blank" title="Join Our Instagram Group!"><img src="images/instagram.png"></a>
</section>

</div> <!-- end of wrapper -->
