<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@comment_sell.user.user_name%></strong> Commented on an Item in the Giveaway</p> 
    <p><h3><%= @comment_sell.comment_entry %></h3></p>
  </body>
</html>