<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@albumone.user.user_name%></strong> Posted a New Photo in Family Group Photos</p> 
    <p><h3><%= @albumone.title %></h3></p>
    
  </body>
</html>