<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><strong><%=@forum.user.user_name%></strong> Posted in the Forum</p> 
    <p><h3><%= @forum.title %></h3></p>
    
    <p> "<%= @forum.entry %>"</p>
  </body>
</html>
