


<div class="container max">
   <br />




        <div class="well index-wells">
       
        <h4 class="title_price"><%= "#{@sell.title} || $#{@sell.price}"%></h4>

        <p class="sell_description"><strong>Description:</strong> <%= @sell.description %></p>

        <a> <%= image_tag @sell.avatar, class:"img-responsive img_user"%></a>
       
        </div>








  <%= link_to 'Back', sells_path, class:"btn btn-primary add"%>
  </div>




